.form {
  background-color: #fff;
  border-radius: 8px;
  padding: 40px 16px;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}

.column {
  width: 100%;
}

.fieldContainer {
  margin-bottom: 20px;
}

.errorField {
  text-align: right;
}

.inputTitle {
  color: #7b61ff;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.input {
  width: calc(100% - 24px);
  height: calc(56px - 32px);
  border-radius: 8px;
  padding: 16px 12px;
  color: #3f3f3f;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #aca7c3;
  outline: none;
}

.inputError {
  margin-bottom: 0;
  border: 1px solid #ff2b77;
}

.errorMessage {
  color: #ff2b77;
  font-size: 12px;
  line-height: 1.33;
  margin-top: 4px;
  margin-right: 19px;
}

.descrInput {
  width: calc(100% - 24px);
  height: calc(150px - 32px);
  border-radius: 8px;
  padding: 16px 12px;
  color: #49454f;
  border: 1px solid #aca7c3;
  outline: none;
  resize: none;
}

.select {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  color: #3f3f3f;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #aca7c3;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
}

.datePicker {
  width: calc(100% - 12px);
  height: 56px;
  border-radius: 8px;
  color: #3f3f3f;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #aca7c3;
  outline: none;
  padding: 0;
  padding-left: 12px;
}

.saveButton {
  display: flex;
  width: 100%;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  margin-top: 40px;
  background: #7b61ff;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}

@media screen and (min-width: 768px) {
  .form {
    padding: 40px 24px;
  }

  .fieldContainer:nth-child(4) {
    margin-bottom: 0;
  }

  .formContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .column {
    width: calc(50% - 12px);
  }

  .input:nth-child(4) {
    margin-bottom: 0;
  }

  .saveButton {
    width: 193px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    padding: 40px 40px;
    height: 490px;
  }

  .formContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .errorField {
    width: 100%;
  }

  .fieldContainer {
    width: calc(100% - 28px);
  }

  .inputTitle {
    width: calc(100% - 24px);
  }

  .input {
    width: calc(100% - 24px);
  }

  .descrInput {
    width: calc(100% - 24px);
  }

  .select {
    width: calc(100% - 24px);
  }

  .datePicker {
    width: calc(100% - 24px);
  }
}
