.form {
  background-color: #fff;
  border-radius: 8px;
  padding: 40px 16px;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}

.fieldContainer {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.inputTitle {
  color: #7b61ff;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.input {
  width: calc(100% - 24px);
  height: calc(57px - 33px);
  border-radius: 8px;
  padding: 16px 12px;
  color: #3f3f3f;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #aca7c3;
  outline: none;
}

.inputError {
  border: 1px solid #ff2b77;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  right: 0;
  color: #ff2b77;
  font-size: 12px;
  line-height: 1.33;
  margin-top: 4px;
  margin-right: 19px;
}

.descrInput {
  width: calc(100% - 24px);
  height: calc(150px - 24px);
  border-radius: 8px;
  padding: 16px 12px;
  color: #49454f;
  border: 1px solid #aca7c3;
  outline: none;
  resize: none;
}

.datePicker {
  width: calc(100% - 12px);
  height: 56px;
  border-radius: 8px;
  color: #3f3f3f;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #aca7c3;
  outline: none;
  padding: 0;
  padding-left: 12px;
}

.saveButton {
  display: flex;
  width: 100%;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  margin-left: auto;
  margin-top: 40px;
  background-color: #7b61ff;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  transition: background-color 500ms linear;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #6243ff;
}

.saveButton:disabled {
  background-color: #aca7c3;
}

@media screen and (min-width: 768px) {
  .form {
    padding: 40px 24px;
  }

  .fieldContainer {
    margin: 0;
  }

  .formContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 20px;
  }

  .fieldContainer:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }

  .fieldContainer:nth-child(2) {
    grid-area: 2 / 1 / 4 / 2;
  }

  .fieldContainer:nth-child(3) {
    grid-area: 4 / 1 / 5 / 2;
  }

  .fieldContainer:nth-child(4) {
    grid-area: 4 / 2 / 5 / 3;
  }

  .fieldContainer:nth-child(5) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .fieldContainer:nth-child(6) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .fieldContainer:nth-child(7) {
    grid-area: 3 / 2 / 4 / 3;
  }

  .saveButton {
    width: 193px;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    padding: 40px 40px;
  }

  .formContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 42px;
  }

  .fieldContainer:nth-child(2) {
    grid-area: 2 / 1 / 4 / 2;
  }

  .fieldContainer:nth-child(3) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .fieldContainer:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .fieldContainer:nth-child(5) {
    grid-area: 3 / 2 / 4 / 3;
  }

  .fieldContainer:nth-child(6) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .fieldContainer:nth-child(7) {
    grid-area: 2 / 3 / 3 / 4;
  }
}
