.backButton {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 500;
  color: #7b61ff;
  fill: #7b61ff;
  transition: background-color 500ms linear;
}

.backButton:hover {
  color: #6243ff;
  fill: #6243ff;
}

@media screen and (min-width: 1280px) {
  .backButton {
    margin-bottom: 17px;
  }
}
