.container {
  padding: 40px 24px 40px 24px;
  height: 100%;
  background-image: url('https://res.cloudinary.com/dmadhdzzm/image/upload/v1690989800/event-planner/Geo_Wave_22_rndl2n.jpg');
  background-position: 50% 50%;
  background-size: 1871px 1349px;
}

.upperSection {
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.serviceButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  color: #3f3f3f;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}

.serviceButton:not(:nth-child(1)) {
  margin-left: 24px;
}

.serviceButton:nth-last-child(1) {
  background-color: #7b61ff;
}

.buttonName {
  display: none;
  margin-right: 16px;
}

.buttonName:nth-last-child(1) {
  margin-left: 16px;
  margin-right: 0;
  color: #fff;
}

.pageTitle {
  display: none;
}

.eventList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.eventItem {
  position: relative;
  display: block;
  width: 100%;
  height: 480px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  overflow: hidden;
}

.imageThumb {
  display: block;
  position: relative;
  width: 100%;
  height: 336px;
  overflow: hidden;
}

.imageThumb > img {
  display: block;
  height: 336px;
  width: 100%;
}

.imageThumb img {
  object-fit: cover;
}

.badges {
  position: absolute;
  left: 12px;
  top: 12px;
  display: flex;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  padding: 6px 12px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 8px;
}

.dateThumb {
  position: absolute;
  top: -40px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 32px);
  padding: 8px 16px;
  color: #7b61ff;
  line-height: 1.7;
  background: rgba(255, 255, 255, 0.8);
}

.descriptionThumb {
  position: relative;
  background-color: #fff;
  padding: 16px;
}

.descriptionTitle {
  color: #1c1b1f;

  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.descriptionText {
  display: block;
  color: #49454f;
  width: 100%;

  line-height: 1.4;
}

.moreButton {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 40px;
  border-radius: 8px;
  background: #7b61ff;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }

  .buttons {
    margin-bottom: 24px;
  }

  .serviceButton:nth-child(1) {
    width: 143px;
  }

  .serviceButton:nth-child(2) {
    width: 129px;
  }

  .serviceButton:nth-child(3) {
    width: 193px;
  }

  .upperSection {
    margin-bottom: 24px;
  }

  .buttonName {
    display: block;
    margin-right: 16px;
  }

  .pageTitle {
    display: block;
    font-size: 32px;
    font-weight: 600;
  }

  .eventList {
    justify-content: flex-start;
  }

  .eventItem {
    width: calc(50% - 12px);
    height: 480px;
  }

  .imageThumb {
    height: 296px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 60px 80px;
  }

  .upperSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 40px;
  }

  .buttons {
    margin: 0;
  }

  .pageTitle {
    display: inline-block;
  }

  .eventItem {
    width: calc(25% - 18px);
  }
}
