.container {
  padding: 40px 24px 40px 24px;
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dmadhdzzm/image/upload/v1690989800/event-planner/Geo_Wave_22_rndl2n.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.upperSection {
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.serviceButton:not(:nth-child(1)) {
  margin-left: 24px;
}

.pageTitle {
  display: none;
}

.eventList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.eventItem {
  position: relative;
  display: block;
  width: 100%;
  height: 480px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }

  .buttons {
    margin-bottom: 24px;
  }

  .upperSection {
    margin-bottom: 24px;
  }

  .pageTitle {
    display: block;
    font-size: 32px;
    font-weight: 600;
  }

  .eventList {
    justify-content: flex-start;
  }

  .eventItem {
    width: calc(50% - 12px);
    height: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 60px 80px;
  }

  .upperSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 40px;
  }

  .buttons {
    margin: 0;
  }

  .pageTitle {
    display: inline-block;
  }

  .eventItem {
    width: calc(25% - 18px);
  }
}
