.container {
  padding: 41px 24px 24px 24px;
  height: 100%;
  background-image: url('https://res.cloudinary.com/dmadhdzzm/image/upload/v1690989800/event-planner/Geo_Wave_22_rndl2n.jpg');
  background-position: 50% 50%;
  background-size: 1871px 1349px;
}

.pageTitle {
  color: #3f3f3f;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }

  .pageTitle {
    font-size: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 20px 80px 40px 80px;
  }
}
